

{% macro create_edit_vehicle(id, form, url, data = None) %}
    <div id="vehicle-create-edit-{{ id }}" class="modal">
      <div class="modal-dialog modal-dialog-centered">
        <form method="post" action="{{ url }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'Edit' if data else 'Create' }} vehicle</h5>
                    <button type="button" class="btn justify-self-end" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg fs-4"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% if data %}
                        <input type="hidden" name="id" value="{{ id }}">
                    {% endif %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name: </label>
                        <input class="form-control" type="text" name="name" id="name" value="{{ data.name if data else '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="plate-number" class="form-label">Plate number: </label>
                        <input class="form-control" type="text" name="plate_number" id="plate-number" value="{{ data.plate_number if data else '' }}">
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info">{{ 'Edit' if data else 'Create' }}</button>
              </div>
            </div>
        </form>
      </div>
    </div>
{% endmacro %}