.parking-bg {
    background: #233B61;
    padding: 50px 40px;
}

.parking-container {
    margin: 10px 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.parking-item {
    border-radius: 25px;
    background-color: black;
    height: 120px;
    width: 300px;
}

/*
 * Parking Item Variations 
 */
.parking-item-available
{
    background-color: #317144;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}

.parking-item-avaliable:hover
{
    background-color: #7EFFA5;
}

.parking-item-reserved
{
    background-color: #747435;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}
.parking-item-reserved:hover
{
    background-color: #FFFF7E;
}

.parking-item-busy
{
    background-color: #934646;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}
.parking-item-busy:hover
{
    background-color: #FF7E7E;
}
/*
 * Parking Item Variations END 
 */

.road {
    height: 128px;
    background-color: white;
    margin: 10px 0;
}

.line-dashed {
    border-bottom: dashed black 4px;
}