.parking-bg {
    background: #233B61;
    padding: 10px 40px;
    border: 10px solid #31588c;
}

.parking-container {
    width: auto;
    display: flex;
    gap: 20px;
}

.parking-item {
    border-radius: 25px;
    background-color: black;
    height: 120px;
    width: 300px;
}

/*
 * Parking Item Variations 
 */
.parking-item-available
{
    background-color: #317144;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}

.parking-item-available:hover,
.active-available
{
    background-color: #7EFFA5;
}

.parking-item-reserved
{
    background-color: #747435;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}
.parking-item-reserved:hover,
.active-reserved
{
    background-color: #FFFF7E;
}

.parking-item-busy
{
    background-color: #934646;
    transition-timing-function: ease-out;
    transition: background-color 500ms;
}
.parking-item-busy:hover,
.active-busy
{
    background-color: #FF7E7E;
}

.position-details {
    background: #233B61;
}

.position-reservate-vehicle {
    width: fit-content;
}

.pill {
    padding: 10px 20px;
    border-radius: 7px;
}

.reserved-pill {
    background: #FFFF7E;
}

.available-pill {
    background: #7EFFA5;
}

.busy-pill {
    background: #FF7E7E;
}

.reservate-position-id {
    height: fit-content !important;
}

.position-details-info {
    width: fit-content;
}

/*
 * Parking Item Variations END 
 */

.road {
    height: 128px;
    background-color: white;
    margin: 10px 0;
    position: relative;
    top: 1px;
}

.line-dashed {
    border-bottom: dashed black 4px;
}

.entrance-legend-text {
    position: relative;
    top: 85px;
    left: -65px;
    display: inline-block;
    color: red !important;
    font-size: 1.1rem;
    rotate: -90deg;
}