*:not(input, select, option),
.btn-close {
    color: white !important;
}

html, body {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/BackgroundMountains.png");
    background-size: cover;
}


.btn-primary {
    padding: 4px 20px !important;
    border-radius: 4px;
}

.btn-icon-site {
    border-radius: 0.375rem;
    padding: 4px 9px !important;
}

.modal-content {
    background: #29426e !important;
}