{% extends "base.html" %}

{% block title %}
    Information
{% endblock %}

{% block content %}
    <main class="w-100 h-100 d-flex justify-content-center align-items-center">
        <form class="w-25 px-4 py-5 shadow-lg container" method="post" novalidate>
            {% if username %}
                <h1 class="mb-5 text-center">Welcome back, {{ username }}!</h1>
            {% else %}
                <h1 class="mb-5 text-center">Welcome back!</h1>
            {% endif %}
            {% for flash_message in get_flashed_messages() %}
                <div class="alert alert-info">{{ flash_message }}</div>
            {% endfor %}
            {% if message %}
                <div class="alert alert-{{ message_type }}">{{ message }}</div>
            {% endif %}
            {% if user_ip %}
                <div class="alert alert-info">Your IP is: {{ user_ip }}</div>
            {% endif %}
            {{ form.hidden_tag() }}

            <div class="mb-3 flex gx-3">
                {{ form.email(class_="form-control form-control-lg", placeholder="Email") }}
            </div>
            <div class="mb-3 flex gx-3">
                {{ form.name(class_="form-control form-control-lg", placeholder="Name") }}
            </div>
            <div class="mb-3 flex gx-3">
                {{ form.password(class_="form-control form-control-lg", placeholder="Password") }}
            </div>
            <div class="mb-3 flex gx-3">
                {{ form.repeat_password(class_="form-control form-control-lg", placeholder="Repeat password") }}
            </div>
            <div class="mb-3 flex gx-3">
                {{ form.contact(class_="form-control form-control-lg", placeholder="Phone number") }}
            </div>
            <div class="mb-3 flex gx-3">
                {{ form.car_plate(class_="form-control form-control-lg", placeholder="Car plate") }}
            </div>
            {{ form.submit(class_="btn btn-primary btn-lg w-100") }}
            <div>
                {{ result }}
            </div>
            <div>
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        </form>
    </main>
{% endblock %}