{% extends "base.html" %}
{% from 'components/macros.html' import create_edit_vehicle %}

{% block title %}
    Vehicles
{% endblock %}

{% block content %}
    <main class="w-100 flex-grow-1 d-flex justify-content-center">
        <div class="mt-5 w-75">
            <h1>Vehicles</h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
            {% endif %}
            <div class="py-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <form method="get" class="d-flex gap-3">
                        <input type="text" class="form-control" placeholder="Search by plate..." aria-label="Plate code">
                        <button type="submit" class="btn btn-lg btn-secondary">Search</button>
                    </form>
                </div>
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#vehicle-create-edit-create">Create</button>
                {{ create_edit_vehicle(id="create", form=form, url=url_for('vehicle_create')) }}
            </div>
            <ul class="mt-4 d-flex flex-column gap-2 vehicles-list p-0">
                {% for vehicle in user.vehicles %}
                    <li class="d-flex justify-content-between rounded-4 vehicle-item" style="padding: 15px 20px">
                        <div class="d-flex gap-4 align-items-center">
                            <span class="fw-bold">{{ vehicle.plate_number }}</span>
                            <span>{{ vehicle.name }}</span>
                        </div>
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary btn-icon-site" data-bs-toggle="modal" data-bs-target="#vehicle-create-edit-{{ vehicle.id }}">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            {{ create_edit_vehicle(id=vehicle.id, form=form, data=vehicle, url=url_for('vehicle_update')) }}
                            <button class="btn btn-danger btn-icon-site" data-bs-toggle="modal" data-bs-target="#vehicle-delete-{{ vehicle.id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <div id="vehicle-delete-{{ vehicle.id }}" class="modal">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title text-balance">Are you sure you want to delete vehicle: <strong>{{ vehicle.name }}</strong></h5>
                                      <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                                          <i class="bi bi-x-lg fs-4"></i>
                                      </button>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" action="{{ url_for('vehicle_delete') }}">
                                      <input type="hidden" name="vehicle" value="{{ vehicle.id }}">
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}